{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(class="form-control") }}<br>
    {{ form.email.label }} {{ form.email(class="form-control") }}<br>
    {{ form.phone.label }} {{ form.phone(class="form-control") }}<br>
    {{ form.password.label }} {{ form.password(class="form-control") }}<br>
    {{ form.role.label }} {{ form.role(class="form-select") }}<br>
    {{ form.submit(class="btn btn-primary") }}
</form>
<a href="{{ url_for('main.login') }}">Already have an account? Login</a>
{% endblock %}
